.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    justify-content:start;
}

.highlights {
    /* background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-image: url(https://images.unsplash.com/photo-1622445275463-afa2ab738c34?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100%;
    object-fit: fill;
    object-position: 150px;
}
card {
    background-color: black;
    padding-left: 15px;
}

h1 {
    color: white;
}

.align {
    margin-left: 100px;
}

.align-1 {
    margin:auto;
    justify-content: center;
    width: 50%;
}

button {
    display: block;
    margin: auto;
    padding-bottom: 100px;;
}

.buys {
    background-color: darkgray;
}

.item {
    width: 300px;
    height: 300px;
}

.grids {
    background-image: url(https://images.unsplash.com/photo-1525124480298-565f20ea00ae?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    object-fit: cover;
}

h3 {
    color: white;
}

h6 {
    color: rgb(138, 235, 105);
}

body {
    background-color: rgb(227, 148, 29);
}

.contact {
    background-image: url(https://images.unsplash.com/photo-1637152740336-da2baefdbf2e?q=80&w=1986&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}