{% extends "layout.html" %}

{% block title %} homepage {% endblock %}

{% block body %}

<div class="container text-center grids">
    <div class="row">
      <div class="col">
        <img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
        <h3>Plain White Tee</h3>
        <h6>$17.99</h6>
      </div>
      <div class="col">
        <img src="https://images.unsplash.com/photo-1580598302731-b98fbf7191a5?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
        <h3>Black " OK boomer" Tee</h3>
        <h6>$17.99</h6>
      </div>
      <div class="col">
        <img src="https://images.unsplash.com/photo-1610142991820-e02266a4a9f0?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
        <h3>White "Vogue Tee"</h3>
        <h6>$17.99</h6>
    </div>

    <div class="row">
        <div class="col">
          <img src="https://images.unsplash.com/photo-1620780327051-f7ad06f5b1e0?q=80&w=3164&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
          <h3>"Wake" Blue Hoodie</h3>
          <h6>$37.99</h6>
        </div>
        <div class="col">
          <img src="https://plus.unsplash.com/premium_photo-1673826949090-69103bd8056d?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
          <h3>Tiedye Hoodie</h3>
          <h6>$48.99</h6>
        </div>
        <div class="col">
          <img src="https://images.unsplash.com/photo-1521223890158-f9f7c3d5d504?q=80&w=1492&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
          <h3>Black Leather jacket</h3>
          <h6>$79.99</h6>
      </div>

      <div class="row">
        <div class="col">
          <img src="https://images.unsplash.com/photo-1555583743-991174c11425?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
          <h3>Denim Jacket</h3>
          <h6>$68.99</h6>
        </div>
        <div class="col">
          <img src="https://images.unsplash.com/photo-1560774358-d727658f457c?q=80&w=3164&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
          <h3>Orange Cap</h3>
          <h6>$7.99</h6>
        </div>
        <div class="col">
          <img src="https://images.unsplash.com/photo-1589831377283-33cb1cc6bd5d?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class = "item c-img" >
          <h3>"Worthy" Cap</h3>
          <h6>$8.99</h6>
      </div>
  </div>


{% endblock %}